<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="dotnetcore-dev" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
    <add key="aspnet-patch-prerelease" value="https://dotnet.myget.org/F/aspnet-2-0-2-october2017-patch-public/api/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
